<div class="fade mt-12 mb-12 mx-4 sm:mx-6 md:mx-8 lg:mx-12">
    <div *ngIf="dish" class="mx-auto max-w-4xl p-8 bg-blue-200 rounded-xl">
      <h1 class="text-xl font-purplePurse md:text-2xl lg:text-3xl font-extrabold mb-4 underline text-center">{{ dish.name }}</h1>
      <div class="flex justify-center mb-4 mt-8">
        <img [src]="dish.image" alt="{{ dish.name }}" class="rounded-xl w-full sm:w-3/4 lg:w-2/3 h-auto shadow-xl">
      </div>
      <p class="mb-8 mt-8 text-lg md:text-xl lg:text-2xl text-justify line-height-loose">{{ dish.description }}</p>
      <p class="mb-8 text-lg md:text-xl lg:text-2xl text-center"><span class="underline">Categoría:</span> {{ dish.category }}</p>
      <p class="mb-8 text-lg md:text-xl lg:text-2xl text-center" *ngIf="dish.alergenos"><span class="underline bg-yellow-300 p-2 rounded-xl">Alérgenos:</span> {{ dish.alergenos }}</p>
      <p class="mb-8 text-lg md:text-xl lg:text-2xl text-center" *ngIf="!dish.alergenos">No hay alérgenos en este plato</p>
      <button (click)="goToEditDish(dish.id)" *ngIf="username === 'Arturo'" class="mt-12 mx-auto bg-green-500 text-white px-4 py-2 rounded-md flex items-center justify-center">Editar Plato</button>
      <button (click)="deleteDish(dish.id)"*ngIf="username === 'Arturo'" class="mt-8 mx-auto bg-red-500 text-white px-4 py-2 rounded-md flex items-center justify-center">Eliminar Plato</button>
    </div>
  </div>
  