<div class="text-white p-4 mx-4 text-justify">
  <h1 class="mb-2" mat-dialog-title>Estimado usuario</h1>
  <div mat-dialog-content>
    <p>La base de datos es gratuita, eso significa que se apaga cuando hay inactividad y tarda 45 segundos en volver a encenderse (esto sucederá con el menú, el inicio de sesión o registro, las reservas y el envio del formulario de contacto). Por favor, espera pacientemente, tras 45s aparecerá. Lamento las inconveniencias</p>
  </div>
  <div class="mt-4" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cierra este mensaje</button>
  </div>
</div>