<div class="fade flex items-center justify-center mx-6 mt-12 mb-8 gap-8">
  <div class="max-w-3xl w-full bg-gray-200 p-8 rounded-xl shadow-xl">
    <h2 class="underline font-purplePurse text-xl sm:text-3xl font-extrabold text-gray-800 text-center mb-4">Reserva mesa con nosotros!</h2>

    <form class="mt-8 border-none" [formGroup]="formCreateBooking" (ngSubmit)="createBooking()">
      <div class="mb-8 mt-8">
        <label for="date" class="block text-lg md:text-xl text-gray-700 font-bold mb-2">Qué día os apetece visitarnos?</label>
        <input (change)="onDateChange($event)" type="date" id="date" formControlName="date"
              class="form-input mt-1 block w-full border border-gray-300 rounded-lg p-2 text-md md:text-lg" required />
      </div>

      <div class="mb-8">
        <label class="block text-lg md:text-xl text-gray-700 font-bold mb-2">Para comer o para cenar?</label>
        <div class="flex items-center mb-2">
          <input type="radio" id="comida" name="turno" formControlName="turno" value="comida" class="form-radio text-indigo-600" required />
          <label for="comida" class="ml-2 text-md md:text-lg">Comida</label>
        </div>
        <div class="flex items-center mb-2">
          <input type="radio" id="cena" name="turno" formControlName="turno" value="cena" class="form-radio text-indigo-600" />
          <label for="cena" class="ml-2 text-md md:text-lg">Cena</label>
        </div>
      </div>

      <div class="bg-yellow-500 border-2 border-red-500 p-4 rounded-xl mb-8" *ngIf="availableSpace !== null || availableSpace === 0 ">
        <p class="text-center" *ngIf="availableSpace !== null">
          El espacio disponible para el turno de la {{ selectedTurno }} del día {{ selectedDate }} es de: {{ availableSpace }} personas
        </p>
        <p *ngIf="availableSpace === 0">
          Lo siento, todos los espacios están reservados para el turno de la {{ selectedTurno }} del día {{ selectedDate }}. Por favor, llámanos para confirmar espacio por si alguna reserva fallara.
        </p>
      </div>

      <div class="mb-8">
        <label for="amountPeople" class="block text-lg md:text-xl text-gray-700 font-bold mb-2">Cuántas personas vais a venir?</label>
        <input type="number" id="amountPeople" formControlName="amountPeople" class="mt-1 block w-full border border-gray-300 rounded-lg p-2 text-md md:text-lg" required />
      </div>

      <div class="mb-8">
        <label for="time" class="block text-lg md:text-xl text-gray-700 font-bold mb-2">A qué hora llegareis?</label>
        <select id="time" formControlName="time" class="mt-1 block w-full border border-gray-300 rounded-lg p-2 text-md md:text-lg" required>
          <option *ngIf="selectedTurno && selectedDate" [disabled]="true" [selected]="true">Selecciona una hora...</option>
          <option *ngIf="!selectedTurno || !selectedDate" [disabled]="true" [selected]="true">Por favor, selecciona primero la fecha y el turno</option>
          <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
        </select>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Reservar
      </button>
    </form>
  </div>
</div>
