<div class="fade">
    <div>
        <h1 class="text-center font-permanentMarker text-lg md:text-xl lg:text-3xl bg-blue-200 py-4">Nuestros valores</h1>
        <div class="container">

        </div>
        <div class="mx-6 mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                <div class="col-md-3 col-sm-4 col-8 flip-box">
                    <div class="front">
                        <div class="content">
                            Inicios<br>
                        </div>
                    </div>
                    <div class="back">
                        <div class="content text-lg md:text-xl px-4">
                            Fundado en 1990 por la familia Sánchez
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front">
                        <div class="content" >
                            Cercanía
                        </div>
                    </div>
                    <div class="back">
                        <div class="content text-lg md:text-xl px-4">
                            Un negocio familiar cercano a nuestros clientes
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front">
                      <div class="content">
                        Tradición
                      </div>
                    </div>
                    <div class="back">
                      <div class="content text-lg md:text-xl px-4">
                        Con el objetivo de hacer la comida de siempre, pero con un toque especial
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front">
                      <div class="content">
                        Calidad
                      </div>
                    </div>
                    <div class="back">
                      <div class="content text-lg md:text-xl px-4">
                        Calidad más absoluta, con productos frescos de la tierra
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front">
                      <div class="content">
                        Familia
                      </div>
                    </div>
                    <div class="back">
                      <div class="content text-lg md:text-xl px-4">
                        Nuestros clientes son parte de la familia
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 flip-box">
                    <div class="front">
                      <div class="content">
                        Satisfacción
                      </div>
                    </div>
                    <div class="back">
                      <div class="content text-lg md:text-xl px-4">
                        La satisfacción de nuestros clientes, nuestro único objetivo
                      </div>
                    </div>
                </div>
        </div>
        
        
        
        <section class="gallery-container m-auto">
            <div class="gallery-slider-wrapper">
                <div class="gallery-slider">
                    <img id="slide-1" src="https://res.cloudinary.com/dws8qazyi/image/upload/v1718969152/_ba1b0d13-6ce3-4d68-a554-f5c002956cd2_wahs4b.jpg" alt="imagen del restaurante 1" />
                    <img id="slide-2" src="https://res.cloudinary.com/dws8qazyi/image/upload/v1718969153/_5b6756e0-f7d3-4760-be11-a0be5699a1ad_wmqw6c.jpg" alt="imagen del restaurante 2" />
                    <img id="slide-3" src="https://res.cloudinary.com/dws8qazyi/image/upload/v1718969153/_259c8198-734b-4523-93d5-8c1c7d81b18b_ix0thr.jpg" alt="imagen del restaurante 3" />
                </div>
                <div class="gallery-slider-nav">
                    <a href="conocenos#slide-1"></a>
                    <a href="conocenos#slide-2"></a>
                    <a href="conocenos#slide-3"></a>
                </div>
            </div>
        </section>
    </div>
    

    <div class="mt-12">

        <h1 class="mb-16 text-center font-permanentMarker text-lg md:text-xl lg:text-3xl bg-blue-200 py-4">Conoce a nuestro equipo</h1>

        <div class="banner">
            <img src="logobar.jpg" alt="Background Image" class="background-image rounded-full">
            <div class="slider" style="--quantity: 9">
                <div class="item" style="--position: 1">
                    <img src="logo-camarero.jpg" alt="" />
                    <div class="description">
                        <h1>Conoce a nuestros camareros</h1>
                    </div>
                </div>
                <div class="item" style="--position: 2">
                    <img src="camarera1.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Manuela Perez</h1>
                        <p class="text-xs md:text-md lg:text-lg">Con nosotros desde 2001. Le encanta ver como el cliente queda satisfecho y repite</p>
                    </div>
                </div>
                <div class="item" style="--position: 3">
                    <img src="camarera2.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Pepa Flores</h1>
                        <p class="text-xs md:text-md lg:text-lg">Con nosotros desde 2005. Le encanta charlar y conocer a los clientes</p>
                    </div>
                </div>
                <div class="item" style="--position: 4">
                    <img src="camarera3.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Lucía Rodríguez</h1>
                        <p class="text-xs md:text-md lg:text-lg">Con nosotros desde 2001. Le encanta trabajar en un ambiente familiar</p>
                    </div>
                </div>
                <div class="item" style="--position: 5">
                    <img src="logo-cocinero.jpg" alt="" />
                    <div class="description">
                        <h1>Conoce a nuestros cocineros</h1>
                    </div>
                </div>
                <div class="item" style="--position: 6">
                    <img src="chef1.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Manuel Jimenez</h1>
                        <p class="text-xs md:text-md lg:text-lg">Con nosotros desde 2007. Su plato favorito de cocina es el chotazo en salsa</p>
                    </div>
                </div>
                <div class="item" style="--position: 7">
                    <img src="chef2.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Manuela Perez</h1>
                        <p class="text-xs md:text-md lg:text-lg">Con nosotros desde 2001. Su plato favorito de cocina es el codillo en salsa</p>
                    </div>
                </div>
                <div class="item" style="--position: 8">
                    <img src="logo-barra.jpg" alt="" />
                    <div class="description">
                        <h1>Conoce a la jefa</h1>
                    </div>
                </div>
                <div class="item" style="--position: 9">
                    <img src="jefa.jpg" alt="" />
                    <div class="description">
                        <h1 class="text-sm md:text-lg lg:text-xl mb-2">Josefina García</h1>
                        <p class="text-xs md:text-md lg:text-lg">La jefa, se encarga de que todos los engranajes encajen perfectamente para que todo funcione</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
